html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --background-primary: #C2D9BA;
  --background-secondary: #D0B89A;
  --background-third: #262222;

  --primary: white;
  --secondary: brown;
  --third: #E08821;

  --white: white;
  --margin-container: 10%;
}